@import "../../scss/variables";

.notification-popup-container {
  width: 27.5%;
  background-color: $whiteColor;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.14);
  margin: 4.5rem auto;
  position: absolute;
  left: 70%;
  top: 1%;
  padding: 4rem 0rem 5rem 0rem;
  z-index: 100;
  .notificationColor {
    color: $notificationColor;
  }
  .hr {
    border: 0.5px solid #e6e6e6;
    margin: 0.7rem 0rem 0.7rem 0.4rem;
  }
}
.empty-notification {
  text-align: center;
}
.full-notification {
  padding: 1rem 0rem 0.5rem 0rem;
  width: 30%;
  left: 66%;
  max-height: 400px;
  overflow-y: auto;
  .see-more-color {
    color: blue !important;
  }
}
.rtl {
  .notification-popup-container {
    left: 4%;
   }
}
